h2 Submit a new Story!
label(for='title') Title: 
input(ng-model='form.title', name='title')
label(for='link') Link: 
input(ng-model='form.link', name='link')
p
  button(ng-click='submitPost()') Submit Post
